<div class="sidebar-header">
  <h3>API Endpoints</h3>
  <strong>API</strong>
</div>

<ul class="list-unstyled components">
  <li>
    <a href="../index.html">
      <i class="glyphicon glyphicon-home"></i>
      Home
    </a>
    <a href="users.html">
      <i class="glyphicon glyphicon-briefcase"></i>
      Users
    </a>
    <a href="auth.html">
      <i class="glyphicon glyphicon-ok"></i>
      Auth
    </a>
    <a href="customers.html">
      <i class="glyphicon glyphicon-user"></i>
      Customers
    </a>
    <a href="rentals.html">
      <i class="glyphicon glyphicon-shopping-cart"></i>
      Rentals
    </a>
    <a href="genres.html">
      <i class="glyphicon glyphicon-folder-open"></i>
      Genres
    </a>
    <a href="movies.html">
      <i class="glyphicon glyphicon-facetime-video"></i>
      Movies
    </a>
    <a href="returns.html">
      <i class="glyphicon glyphicon-share-alt"></i>
      Returns
    </a>
  </li>
</ul>

<ul class="list-unstyled CTAs">
  <li>
    <a
      target="_blank"
      href="https://github.com/farhan787/Vidly_Movie_App"
      class="download"
      >Github Repository</a
    >
  </li>
</ul>
